.form-input {
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
}

.form-button {
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
}

.form-label {
    margin-right: 0.5rem;
}

.form-set {
    display: grid;
    grid-template-columns: auto 1fr; /* auto makes the label column only as wide as its widest label; 1fr takes up the rest of the space */
    gap: 10px; /* Space between rows and columns */
}
